<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- not restricting supports-screens here because apparently setting android:largeScreens or android:xlargeScreens to false will enable screen compatibility mode, which will often cause artifacts such as blurring and pixelation in your UI -->
    <!-- (see: https://developer.android.com/guide/topics/manifest/supports-screens-element#compat-mode) -->

    <!-- also not restricting compatible-screens. -->
    <!-- "But we strongly recommend you avoid using this because any combination of size and density that you do not specify is considered a screen configuration with which your app is not compatible." -->
    <!-- "So using this element makes it easy to block your app from lots of devices that your app actually can support." -->
    <!-- (see: https://developer.android.com/guide/practices/screens-distribution.html#FilteringHansetApps) -->


    <!-- Warning: if android:allowBackup="true", then during Auto Backup, the base-class Application is launched instead of NarradirApplication. -->
    <!-- Any calls to getApplicationContext() would cause a crash during Auto Backup. At the moment, there are no such calls, but once there are, we should set android:allowBackup="false" -->
    <!-- (see: https://medium.com/@pablobaxter/what-happened-to-my-subclass-android-application-924c91bafcac) -->
    <application
        android:name=".NarradirApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/googledrive_backup_rules"
        android:dataExtractionRules="@xml/googledrive_backup_rules_v31"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:hardwareAccelerated="false"
        android:theme="@style/AppTheme"
        tools:targetApi="s">
        <!-- declare screenOrientation here rather than in the code so that it's in portrait from the get-go. Otherwise, in tablets as well as in some phones like HUAWEI YAL-L21 (Android 10) (see: https://stackoverflow.com/a/50616559/12367873), -->
        <!-- the app might be in landscape mode for a short period of time before switching to portait mode. -->
        <activity android:name=".NarradirActivity" android:screenOrientation="portrait" android:configChanges="orientation|screenSize|screenLayout"
            android:exported="true"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AvalonCharacterSelectionActivity" android:screenOrientation="portrait" android:configChanges="orientation|screenSize|screenLayout" tools:ignore="LockedOrientationActivity" />
        <activity android:name=".SecretHitlerCharacterSelectionActivity" android:screenOrientation="portrait" android:configChanges="orientation|screenSize|screenLayout" tools:ignore="LockedOrientationActivity" />
        <activity android:name=".PlayIntroductionActivity" android:screenOrientation="portrait" android:configChanges="orientation|screenSize|screenLayout" tools:ignore="LockedOrientationActivity" />
        <activity android:name=".SettingsHomeActivity" android:screenOrientation="portrait" android:configChanges="orientation|screenSize|screenLayout" tools:ignore="LockedOrientationActivity" />
        <activity android:name=".SettingsNarrationActivity" android:screenOrientation="portrait" android:configChanges="orientation|screenSize|screenLayout" tools:ignore="LockedOrientationActivity" />
        <activity android:name=".SettingsBackgroundActivity" android:screenOrientation="portrait" android:configChanges="orientation|screenSize|screenLayout" tools:ignore="LockedOrientationActivity" />
        <activity android:name=".SettingsRoleTimerActivity" android:screenOrientation="portrait" android:configChanges="orientation|screenSize|screenLayout" tools:ignore="LockedOrientationActivity" />
        <activity android:name=".GuidanceActivity" android:screenOrientation="portrait" android:configChanges="orientation|screenSize|screenLayout" tools:ignore="LockedOrientationActivity" />
    </application>

</manifest>